@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary-dark: #0A192F;
  --primary-light: #172A46;
  --success-main: #62FBD7;
  --light-text: #CDD7F7;
}

body {
  background-color: var(--primary-dark);
  color: var(--light-text)
}

.ck.ck-content {
  font-family: 'Open Sans', sans-serif;
}

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}
.ck.ck-content ul {
  padding-left: 40px;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal, decimal-leading-zero;
}
.ck.ck-content ol {
  padding-left: 40px;
}
.ck-editor__editable_inline {
  padding: 0 30px !important;
  min-height: 200px;
}